<div>
  <form novalidate class="traveltraker-form login" ng-submit="login.loginClick(login.user)">
    <input type="email" ng-model="login.user.email" placeholder="Enter an email like user" name="userEmail" ng-pattern="signup.emailFormat"
    ><br>
    <input type="password" ng-model="login.user.pass" placeholder="Enter your password" name="userPassword"><br>
    <input type="submit" value="login" ng-disabled="!login.user.email || login.user.pass.length<12">
  </form>
  <div class="status-msg-box">
    {{login.statusMsg}}
  </div>
</div>